@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  margin: 0;
  font-family: "Ubuntu Mono", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-dark);
  background-image: url('./assets/background.jpg');
  background-size: 200vw 100vh ;
  background-attachment: fixed;
}

:root {
  --main-bg-dark: #181818;
  /*363945*/
  --main-bg-light: #9a4eae;
}


input:focus::placeholder {
  color: transparent;
}

hr {
  border: none;
  border-bottom: 0.5px solid var(--main-bg-dark);
}

ul {
  display: flex;
  align-items: center;
}

.mainDiv {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.promptContainerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: min-content;
}

.promptDiv {
  display: flex;
  margin-top: 5%;
}

.prompt {
  width: 70vw;
  border: none;
  padding: 5px 20px;
  background-color: transparent;
  border-width: 0.3rem;
  border-bottom-style: solid;
  border-image-source: linear-gradient(to right, #de93fa, #98a7f9);
  border-image-slice: 1;
  caret-color: var(--main-bg-light);
  font-family: "Ubuntu Mono";
  font-size: 2em;
  text-align: center;
  overflow: auto;
  margin-right: 5px;
  color: white;
}

.prompt::placeholder {
  color: white;
}

.prompt:focus {
  outline-width: 0;
  color: white;
}

.promptButton {
  background-color: transparent;
  padding: 12px;
  font-size: 20px;
  color: white;
  border: none;
  border-bottom: 3px solid;
  border-width: 0.3rem;
  border-bottom-style: solid;
  border-image-source: linear-gradient(to right, #de93fa, #98a7f9);
  border-image-slice: 1;
  font-family: "Ubuntu Mono";
  font-size: 1.2em;
  margin-right: 5px;
  /* border-radius: 10px 10px 0 0; */
}

.promptButton:hover {
  background-color: var(--main-bg-light);
  color: var(--main-bg-dark);
}

.promptsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.promptsList {
  display: flex;
  align-items: center;
  background-color: var(--main-bg-dark);
  color: var(--main-bg-light);
  border: 1px solid var(--main-bg-light);
  border-radius: 100vmax;
  font-family: "Ubuntu Mono";
  font-size: 0.8em;
  padding: 10px;
  max-width: 80vw;
  text-overflow: ellipsis;
}

.removePrompt {
  border: 1px solid var(--main-bg-light);
  background-color: var(--main-bg-dark);
  color: var(--main-bg-light);
  font-family: "Ubuntu Mono";
  font-size: 1.2em;
  border-radius: 100vmax;
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.removePrompt:hover {
  background-color: rgba(154, 78, 174, 0.1);
  color: var(--main-bg-dark);
}

.horizontal {
  width: 90%;
  height: 2px;
  background-color: var(--main-bg-light);
  border-radius: 100vmax;
}

.bg-dark {
  background-color: var(--main-bg-dark);
}

/* Dropdown settings */

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  margin-left: -13%;
}

.slideOptions {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.dropArrow {
  background-image: url("./assets/drop-arrow.svg");
  background-color: transparent;
  width: 30px;
  height: 12px;
  margin-top: 10px;
  border: none;
  transition: height 0.5s ease;
}

.dropdownOption {
  background-image: url('./assets/dropdown.jpg');
  background-size: 100% 100%;
  width: 95vw;
  height: 0px;
  overflow: hidden;
  transition: height 0.5s ease;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.dropdownVidOption {
  border-bottom: 1px solid var(--main-bg-dark);
  height: 5vh;
}

.vidOptionContainer {
  margin: 0;
  padding: 0;
  height: inherit;
  display: flex;
}

.extraOptions {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  margin-bottom: 10px;
}

.fullRow {
  grid-column: 1 / span 2;
  text-align: center;
}

.optionHeader {
  color: var(--main-bg-light);
}

.img2img,
.walk {
  width: 50%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX();
}

.vidOptionBtn {
  border: none;
  height: 100%;
  width: 100%;
  font-weight: bold;
  font-size: 100%;
  font-family: "Ubuntu Mono";
}

@media screen and (max-width: 900px) {
  body {
    background-size: 200vw 100vh;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 900px) {
  body {
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
  }

  .dropdownOption {
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }

  .fullRow {
    grid-column: 1 / span 3;
  }

  .extraOptions {
    grid-column: 1 / span 3;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }
}

@media screen and (max-width: 700px) {
  body {
    background-size: 300vw 100vh;
    background-repeat: no-repeat;
  }

  .dropdownOption {
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
    overflow-y: scroll;
  }

  .fullRow {
    grid-column: 1 / span 1;
  }

  .extraOptions {
    grid-column: 1 / span 1;
    grid-template-columns: repeat(1, 1fr);
  }

  .dropdownOption::-webkit-scrollbar {
    background-color: var(--main-bg-dark);
    width: 4px;
  }

  .dropdownOption::-webkit-scrollbar-thumb {
    background-color: var(--main-bg-light);
    border-radius: 100vmax;
  }

  .promptButton {
    padding: 12px;
    font-size: 3vw;
    /* border-radius: 10px 10px 0 0; */
  }

  .prompt {
    width: 70vw;
    padding: 0 1vw;
    font-size: 5vw;
    margin-right: 1vw;
  }
}

.open {
  height: min(500px, 90vh);
}

.rotate {
  transform: rotate(180deg);
}

.loading {
  max-width: 150px;
  margin: 0;
}

.checkBoxContainer {
  display: flex;
  align-items: center;
  font-size: 1.1em;
}

/* Slider Styles*/

.alignCenter {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: min-content;
}

.slider {
  -webkit-appearance: none;
  width: min(90%, 75rem);
  height: 2px;
  border-radius: 5px;
  background: linear-gradient(to right, #de93fa, #98a7f9);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin-top: 0px;
  margin-bottom: 10px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--main-bg-light);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.dropdownInput {
  border: none;
  border-bottom: 3px solid var(--main-bg-dark);
  border-top-left-radius: 10px;
  padding: 5px 20px;
  background-color: var(--main-bg-light);
  caret-color: var(--main-bg-dark);
  font-family: "Ubuntu Mono";
  font-size: 1.1em;
  text-align: center;
  overflow: auto;
  margin-bottom: 10px;
}

.dropdownInput::placeholder {
  color: var(--main-bg-dark);
}

.dropdownInput:focus {
  outline-width: 0;
  color: var(--main-bg-dark);
}

/* Frame Selection Styles*/

.frameSelect {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.frameContainer {
  position: relative;
  width: 50%;
}

.frameImage {
  display: block;
  width: 100%;
  height: auto;
  font-family: "Ubuntu Mono";
  font-size: 12em;
  color: var(--main-bg-light);
}

.frameOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #000000;
  font-family: "Ubuntu Mono";
  font-size: 1.2em;
}

.frameContainer:hover .frameOverlay {
  opacity: 0.8;
}

.newFrameButton {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-family: "Ubuntu Mono";
  font-size: 12em;
  color: var(--main-bg-light);
}

/* Login and sign up styling code */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid var(--main-bg-light);
  border-radius: 5px;
  max-width: 600px;
  min-width: 300px;
  width: 35vw;
  height: 50vh;
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--main-bg-light);
  margin-bottom: 20px;
  text-align: center;
  font-size: large;
  font-family: "Ubuntu Mono";
  caret-color: var(--main-bg-light);
  width: 60%;
  color: white;
}

.input:focus {
  outline: none;
}

.btn {
  font-family: "Ubuntu Mono";
  font-size: large;
  background-color: var(--main-bg-dark);
  border: 1px solid var(--main-bg-light);
  margin: 3px 0px;
  padding: 5px 0px;
  width: 60%;
  border-radius: 100vmax;
  color: var(--main-bg-light);
}

.btn:hover {
  background-color: var(--main-bg-light);
  color: var(--main-bg-dark);
}

.partial-color:hover {
  background-color: rgba(154, 78, 174, 0.1);
  color: var(--main-bg-light);
}

.header {
  color: var(--main-bg-light);
  margin: 0;
  margin-bottom: 1.5em;
}

.back-to-search {
  font-size: xx-large;
  color: var(--main-bg-light);
}

/* Login and styling code */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid var(--main-bg-light);
  border-radius: 5px;
  max-width: 600px;
  min-width: 300px;
  width: 35vw;
  height: 50vh;
}

.input:focus {
  outline: none;
}

.btn {
  font-family: "Ubuntu Mono";
  font-size: large;
  background-color: var(--main-bg-dark);
  border: 1px solid var(--main-bg-light);
  margin: 3px 0px;
  padding: 5px 0px;
  width: 60%;
  border-radius: 100vmax;
  color: var(--main-bg-light);
}

.btn:hover {
  background-color: var(--main-bg-light);
  color: var(--main-bg-dark);
}

.partial-color:hover {
  background-color: rgba(154, 78, 174, 0.1);
  color: var(--main-bg-light);
}

.header {
  color: var(--main-bg-light);
  margin: 0;
  margin-bottom: 1.5em;
}

.back-to-search {
  font-size: xx-large;
  color: var(--main-bg-light);
}

.progress {
  background-color: var(--main-bg-light);
  height: 1ch;
}

.progress-bar {
  background-color: var(--main-bg-dark);
  border: 1px solid var(--main-bg-light);
  width: 50vw;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tooltip {
  position: relative;
  display: inline-block;
  color: var(--main-bg-light);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: var(--main-bg-dark);
  border: 1px solid var(--main-bg-light);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: -10%;
  margin-left: -60px;
  padding: 5px 5px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--main-bg-light) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  font-size: 0.8em;
}

.flexBelowSearch {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.settingsImg {
  width: 2.5em;
}

.settingsBtn {
  background-color: transparent;
  display: flex;
  padding: 8px 5px 5px 5px;
  border: none;
  border-bottom: 3px solid var(--main-bg-light);
  margin-top: 5px;
  border-width: 0.3rem;
  border-bottom-style: solid;
  border-image-source: linear-gradient(to right, #de93fa, #98a7f9);
  border-image-slice: 1;
}

.settingsBtn:hover {
  background-color: rgba(154, 78, 174, 0.4);
}
