.Navbar .navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: var(--main-bg-dark);
    height: 5vh;
}

.Navbar .logo {
    font-weight: bold;
    font-size: 2em;
    color: white;
    margin-left: 10px;
}

.Navbar .pageLink {
    list-style: none;
    margin-right: 2em;
}

.Navbar .link {
    text-decoration: none;
    list-style: none;
    font-size: 1.5rem;
    color: white;
}

.Navbar .superTag {
    display: inline;
    color: var(--main-bg-dark); 
    font-weight: 100;
    font-size: 0.7em;
}

.Navbar .video {
    position: relative;
}