.SignUpPage .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20%;
}

.SignUpPage.btnContainer {
}

.SignUpPage .btn {
}