[submodule "stable-diffusion"]
	path = stable-diffusion
	url = https://github.com/CompVis/stable-diffusion.git
[submodule "stable-diffusion-2"]
	path = stable-diffusion-2
	url = https://github.com/basujindal/stable-diffusion.git
[submodule "StableDiffusionVideosWebServer"]
	path = StableDiffusionVideosWebServer
	url = https://github.com/raaifhadadi/StableDiffusionVideosWebServer
[submodule "ECCV2022-RIFE"]
	path = ECCV2022-RIFE
	url = https://github.com/megvii-research/ECCV2022-RIFE
