.Navbar .navbar {
    padding: 15px;
    width: 100%;
    background-color: #363636;
    height: 5vh;
}

.Navbar .logo {
    position: relative;
    float: left;
    color: white;
}

.Navbar .pageLink {
    position: fixed;
    left: 190vh;
    float: left;
    list-style: none;
}

.Navbar .link {
    text-decoration: none;
    list-style: none;
    color: black;
    color: white;
}

.Navbar .superTag {
    display: inline;
    color: rgb(46, 226, 202);
}
