.Navbar .navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #363636;
    height: 5vh;
}

.Navbar .logo {
    font-weight: bold;
    font-size: 1.5em;
    color: white;
}

.Navbar .pageLink {
    list-style: none;
}

.Navbar .link {
    text-decoration: none;
    list-style: none;
    color: black;
    color: white;
}

.Navbar .superTag {
    display: inline;
    color: #26A7DE;
    font-weight: 100;
    font-size: 0.7em;
}

.Navbar .video {
    position: relative;
}
