.SimpleUser {
    background-color:  #363636;
    height: 100vh;
}

.SimpleUser .mainDiv {
    position: relative;
    width: 40%; 
    margin: auto;
    top: 15vh;
}

.SimpleUser .promptDiv {
    position: relative;
    margin: auto;
}

.SimpleUser .videoDiv {
    position: relative;
    height: auto;
    margin: auto;
}

.SimpleUser .prompt {
    position: relative;
    width: 98.5%;
    border-radius: 5px;
    height: 32px;
    background-color: rgb(128, 128, 128);
    caret-color: rgb(46, 226, 202);
    font-family: cursive;
    font-size: 16px;
}

.SimpleUser .prompt::placeholder {
    color: white;
}

.SimpleUser .video {
    position: relative;
    top: 5vh;
    width: 100%;
}